

.auth-form-content {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.login-container {
    width: 300px;
    height: 300px;
}

.form-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;

    margin: 1rem;
}